body {
    margin: 0;
    overflow-x: hidden;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Aleo', sans-serif;
}

nav {
    position: absolute;
    display: flex;
    width: 30%;
    justify-content: space-around;
    flex-direction: column;
}

main {
    height: fit-content;
    width: fit-content;
    overflow-x: hidden;
}

p {
    font-family: 'Gloria Hallelujah';
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
    color: #8f2700;
}

h2 {
    font-size: 350%;
    font-weight: 500;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -5px;
    text-shadow: 0 5px 5px #00000078;
}

h3 {
    margin: 0;
    font-size: 1.5em;
    font-family: 'Gloria Hallelujah', cursive;
}

ul {
    margin: 0;
}

#big-container {
    position: relative;
    display: flex;
    background-repeat: no-repeat; 
    background: url('../images/hall/hall.jpg');
    overflow: hidden;
}

/* Chat Prompt */
#chat-container {
    position: absolute;
    display: inline;
    left: 0.7%;
    bottom: 10px;
    width: 400px;
    height: 250px;
    background-color: #00000063;
    z-index: 5;
    display: none;
}

/* navigation */
#doNotEnter-door {
    position: absolute;
    top: 27%;
    width: 11.927083333333333333333333333333%;
    height: 53.041622198505869797225186766275%;
}

#tranSvg1 {
    transition: all ease 0.5s;
}

#doNotEnter {
    filter: url(#startDo);
    cursor: pointer;
    width: 11.927083333333333333333333333333%;
    height: 53.041622198505869797225186766275%;
}

#doNotEnter:hover {
    filter: url(#shadowDoNotEnter);
}

#stone-door {
    position: absolute;
    top: 35.5%;
    right: 12.68%;
    width: 8.3854%;
    height: 37.88687%;
}

#tranSvg2 {
    transition: all ease 0.5s;
}

#stoneDoor {
    filter: url(#startStone);
    cursor: pointer;
    width: 8.3854%;
    height: 37.88687%;
}

#stoneDoor:hover {
    filter: url(#shadowStone);
}

#profile-door {
    position: absolute;
    display: block;
    top: 38.5%;
    left: 17.8%;
    width: 7.6%;
    height: 31.8%;
    transform: perspective(112px) rotateY(11.5deg) skew(-1deg, -1deg);
}

#profile-door:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 7px #afaa7e;
    transition: box-shadow ease 0.5s;
}

#boutique-door {
    position: absolute;
    display: block;
    top: 29.3%;
    right: -0.3%;
    width: 8.7%;
    height: 47%;
    transform: perspective(480px) rotateY(328deg) skew(359deg, 0deg) rotateX(357.5deg);
}

#boutique-door:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 20px 7px #afaa7e;
    transition: box-shadow ease 0.5s;
}

#arrow {
    height: 5%;
    width: 3%;
    position: absolute;
    top: 71%;
    left: 50%;
    background-color: #ffffff38;
}

/* Vernissage & Titles*/

#vernisage-container {
    position: absolute;
    height: 10.2%;
    width: 28.2%;
    top: 37.4%;
    left: 36%;
}

#vernisage-title {
    font-size: clamp(5vw, 10vh, 15vw);
    font-weight: 500;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -5px;
    text-shadow: 0 5px 5px #00000078;
}

#vernisage-hidden {
    display: none;
}

#profile-title {
    position: absolute;
    height: fit-content;
    top: 32%;
    left: 18%;
    font-size: clamp(2vw, 4.27vh, 5.5vw);
    font-weight: 600;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    line-height: inherit;
    text-shadow: -1px -1px 3px #ffffff36, 1px 1px 3px #ffffff36, 1px 0px 3px #ffffff36, -1px 1px 3px #ffffff36;
    transform: perspective(600px) rotate3d(8, 25, 5, 50deg) scale3d(1, 1.15, 1);
}

#boutique-title {
    position: absolute;
    height: fit-content;
    top: 19.5%;
    right: -2.5%;
    font-size: clamp(3.24vw, 6.5vh, 13vw);
    font-weight: 600;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    line-height: inherit;
    text-shadow: -1px -1px 3px #ffffff36, 1px 1px 3px #ffffff36, 1px 0px 3px #ffffff36, -1px 1px 3px #ffffff36;
    transform: perspective(600px) rotate3d(-6, 25, 5, 307deg) scale3d(1, 1.15, 1);
}