#kwikk__cart-btn .kwikk__cart-number {
    display: none;
}

.comet__btn {
    display: inline-block;
    padding: 15px 35px;
    border-radius: unset;
    cursor: pointer;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    overflow: unset;
    text-transform: none;
    font-weight: 500;
}

#comet__modal-wrap .comet__modal-content {
    width: 50vw;
}