@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: black;
}

#loading-screenHuset {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgb(131,58,180);
    background: linear-gradient(349deg, rgb(180, 58, 58) 15%, rgb(205, 145, 255) 50%, rgba(255, 238, 163) 100%);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#loading-screenHuset.fade-out {
    opacity: 0;
}

#tillbaka {
    position: fixed;
    width: 90px;
    height: auto;
    top: 2%;
    left: 2%;
    cursor: pointer;
}

#loadLogo {
    width: 40%;
    height: auto;
    margin: 2%;
}

#randomTip {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    width: 70%;
    text-align: center;
}

@media only screen and (max-height:600px) {
    #tillbaka {
        position: fixed;
        width: 70px;
        height: auto;
        top: 2%;
        left: 2%;
        cursor: pointer;
    }
}

@media (pointer: coarse) and (hover: none) and (orientation: landscape) {
    #loadLogo {
        width: 40%;
        height: auto;
        margin: 2%;
    }
    
    #randomTip {
        font-family: 'Permanent Marker', cursive;
        font-size: 1.5em;
        width:60%;
    }

    #tillbaka {
        position: fixed;
        width: 70px;
        height: auto;
        top: 2%;
        left: 2%;
        cursor: pointer;
    }
}

@media (pointer: coarse) and (hover: none) and (orientation: portrait) {
    #loadLogo {
        width: 70%;
        height: auto;
        margin: 2%;
    }
    
    #randomTip {
        font-family: 'Permanent Marker', cursive;
        font-size: 1.5em;
        width:70%;
    }

    #tillbaka {
        position: fixed;
        width: 60px;
        height: auto;
        top: 2%;
        left: 2%;
        cursor: pointer;
    }
}