html {
    min-height: fit-content;
    min-width: fit-content;
}

body {
    margin: 0;
    min-height: fit-content;
    min-width: fit-content;
}

main {
    position: relative;
    min-height: fit-content;
    min-width: fit-content;
}

.bck {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#bckUv {
    z-index: 0;
}

#bckOn {
    z-index: 1;
}

#bckOff {
    z-index: 0;
}

#bckUvG {
    z-index: 0;
}

#bckOnG {
    z-index: 0;
}

#bckOffG {
    z-index: 0;
}

#door {
    position: absolute;
    width: 18%;
    height: 77.5%;
    top: 10.8%;
    left: 26.3%;
    z-index: 2;
    cursor: pointer;
}

#lightSwitch {
    position: absolute;
    top: 40%;
    left: 49.9%;
    height: 12%;
    width: 9%;
}

.lightSwitch-img {
    position: absolute;
    height: 100%;
    width: auto;
    opacity: 1;
    transition: opacity 2s ease;
}

#lightbutton1 {
    position: absolute;
    width: 13%;
    height: 40%;
    z-index: 2;
    top: 29%;
    left: 21%;
    cursor: pointer;
}

#lightbutton2 {
    position: absolute;
    width: 13%;
    height: 40%;
    z-index: 2;
    top: 31%;
    left: 40%;
    cursor: pointer;
}

#bulletin-board {
    position: absolute;
    top: 12.5%;
    right: 6.3%;
    width: 34.1%;
    height: 54.5%;
    z-index: 2;
}

.poster {
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 4px 0px #0000003d;
}

/* Poster 1 */
#poster11 {
    position: absolute;
    display: block;
    width: 22%;
    right: 5%;
    top: 5%;
}

#poster12 {
    position: absolute;
    display: block;
    width: 22%;
    right: 5%;
    top: 5%;
}

#poster13 {
    position: absolute;
    display: block;
    width: 22%;
    right: 5%;
    top: 5%;
}

/* Poster 2 */
#poster21 {
    position: absolute;
    display: block;
    width: 22%;
    left: 17%;
    top: 62%;
}

#poster22 {
    position: absolute;
    display: block;
    width: 22%;
    left: 17%;
    top: 62%;
}

#poster23 {
    position: absolute;
    display: block;
    width: 22%;
    left: 17%;
    top: 62%;
}

/* Poster 3 */
#poster31 {
    position: absolute;
    display: block;
    width: 46%;
    left: 9%;
    top: 8%;
}

#poster32 {
    position: absolute;
    display: block;
    width: 46%;
    left: 9%;
    top: 8%;
}

#poster33 {
    position: absolute;
    display: block;
    width: 46%;
    left: 9%;
    top: 8%;
}