html {
    min-height: fit-content;
    min-width: fit-content;
}

body {
    margin: 0;
    min-height: fit-content;
    min-width: fit-content;
}

main {
    position: relative;
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 8vw;
    color: #000000;
    margin: 0;
    text-shadow: 3px 0 #ffffff, -3px 0 #ffffff, 0 3px #ffffff, 0 -3px #ffffff, 2px 2px #ffffff, -2px -2px #ffffff, 2px -2px #ffffff, -2px 2px #ffffff;
}

h3 {
    position: absolute;
    color: white;
    font-size: 60px;
    font-family: 'Permanent Marker', cursive;
    right: 3%;
    top: 3%;
    margin: 0;
    text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
    z-index: 5;
    cursor: pointer;
}

p {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px;
    color: #000000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

.bck {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* navigation */

#arrow {
    height: 5%;
    width: 3%;
    position: relative;
    top: 94%;
    left: 50%;
    background-color: #ffffff38;
}

/* vernisage */

#vernisage-container {
    position: absolute;
    height: 30%;
    width: 65%;
    top: 15%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#vernisage-title {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 5px 5px rgb(0 0 0 / 46%);
}

/* paintings */
#painting-container {
    position: absolute;
    height: 40%;
    width: 87%;
    max-width: 87%;
    top: 38%;
    left: 10%;
    display: flex;
    justify-content: space-between;
}

.both {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.painting {
    width: auto;
    height: 75%;
    cursor: pointer;
}

.note-general {
    height: 12%;
    width: auto;
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 5px 10px 2px #0000007d;
}

.shadow2 {
    box-shadow: 0px 3px 4px 0px #0000007d;
}

/* se description */

.gifs {
    width: 100%;
    height: 100%;
    background-image: url(../../images/huset/hall/lit.webp);
    background-size: cover;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}

#dim1 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#big-note {
    position: absolute;
    max-width: 50%;
    z-index: -1;
}

#beskText1, #beskText2, #beskText3, #beskText4, #beskText5 {
    display: none;
    z-index: 1;
    flex-direction: column;
    align-items: center;
}

.descP {
    width: 80%;
}

#dim2 {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#painting1, #painting2, #painting3, #painting4, #painting5 {
    display: none;
    z-index: 1;
    height: 90%;
    width: fit-content;
}

.paintingInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paintP {
    width: 45%;
}

.imgZ {
    width: auto;
    height: 45%;
}

@media screen and (max-width: 1040px) {
    #painting1, #painting2, #painting3, #painting4, #painting5 {
        display: none;
        z-index: 1;
        height: 90vh;
        width: fit-content;
    }

    .paintingInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .imgZ {
        width: auto;
        height: 40%;
    }

  }